/*===================================================================================*/
/*  CUSTOM Color
/*===================================================================================*/

$primary-color: #C3B23E;

/**
 * base/base.scss
 */
$primary-color-dark: darken($primary-color, 15%);

.contact-btn{
	background: none repeat scroll 0 0 $primary-color;
}

#scrollUp{
	background-color: $primary-color;
}

header.site-header .site-branding a h1{
	color: $primary-color ;
}

.hb-social{
	li{
		&.hb-mail{
			a{
				&:hover{
					i{
						background-color: $primary-color !important;
					}
				}
			}
		}
	}
}

.hb-more-button{
	&:hover{
		border: 2px solid $primary-color !important;
		background-color: $primary-color;
	}
}


/**
 * base/typography.scss
 */

input.button{
	background-color: $primary-color;
}

.button.wc-backward{
    background: none repeat scroll 0 0 $primary-color;
}

/**
 * components/comments.scss
 */

#comments{
 	.comment-list{
 		.reply{
 			a{
 				&:hover{
					color: $primary-color !important;
				}
 			}
 		}
 	}
}

.comment-form{
	input[type="submit"]{
		background: none repeat scroll 0 0 $primary-color;
	}
}

/**
 * components/content.scss
 */

.media-attachment-gallery{
	.owl-dots{
		.owl-dot{
			&.active{
				span{
					background-color: $primary-color;
					&:hover{
						background-color: $primary-color;
					}
				}
			}
		}
	}
}

.isotope{
	article{
		.hb-more{
			&:hover{
				color: $primary-color;
			}
		}
	}
}

/**
 * components/footer.scss
 */

footer{
	&.site-footer{
		.footer-logo{
			.site-title{
				color: $primary-color;
			}
		}

		.connect-with-us{
			h5{
				color: $primary-color;
			}
		}

		.footer-widget{
 			aside.widget_text{
 				h5{
 					color: $primary-color;
 				}
 			}
 		}
	}
}

.footer-2{
	footer{
 		&.site-footer{
 			.footer-widget{
 				border-color: $primary-color;
 				&:after{
 					color: $primary-color;
 				}
 			}

 			ul.hb-social{
				li{
					a{
						i{
							border: 2px solid $primary-color;
						}
					}
				}
			}
 		}
 	}
}

.footer-3{
	footer{
 		&.site-footer{

			.bethlehem-logo{
				svg{
					fill: $primary-color;
				}
			}
 			.mc4wp-form{
 				p{
 					input[type=submit]{
 						&:hover{
 							background-color: $primary-color;
 							border: 2px solid $primary-color;
 						}
 					}
 				}
 			}
 		}
 	}
}

/**
 * components/forms.scss
 */

.cart-collaterals{
	.coupon{
		input[type="submit"]{
			background-color: $primary-color;
		}
	}
}

.wpcf7{
	form{
		p{
			>input{
				background-color: $primary-color;
			}
		}
	}
}

.single_add_to_cart_button{

	&:after{
		border-left: 11px solid $primary-color;
	}

	&:before{
		background: none repeat scroll 0 0 $primary-color;
	}
}

/**
 * components/header.scss
 */

 .site-title{
	color: $primary-color;
 }

 .bethlehem-style-2, .header-7 {
 	.bethlehem-logo svg {
 		fill: $primary-color;
 	}
 }

.bethlehem-style-3 {
	.bethlehem-logo svg {
		fill: $primary-color;
	}

	.content-area{
		.images-carousel-wrap{
			> a{
				&:hover{
					background-color: $primary-color;
					border-color: $primary-color;
				}
			}
		}
	}
}

/**
 * components/menu.scss
 */

.main-navigation ul{
	li{
		a{
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.header-7{
	.header-nav-menu{
		background-color: $primary-color;

		input[type="search"]{
			background-color: $primary-color-dark !important;
		}
	}

	.header-top-nav-menu{
		.bethlehem-counter{
			h3.counter-title{
				color: $primary-color;
			}
		}
		.top-nav-links{
			ul{
				li{
					a{
						&:hover{
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}

/**
 * Primary Navigation
 */
.main-navigation {
	ul.menu,
	ul.nav-menu {
		> li {
			.megamenu-content {
				ul{
					> li > a{
						&:hover {
							color: $primary-color;
						}
					}
				}
			}

			&.sub-menu{
				.megamenu-content{
					.vc_wp_custommenu{
						.menu > li.menu-item-has-children{
							.sub-menu >li >a{
								&:hover {
									color: $primary-color;
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}

/**
 * components/widgets.scss
 */

.widget_search,
.widget_product_search {
	form {
		&:after {
			color: $primary-color;
		}
	}
}

.widget-area {
	.widget {
		&.widget_recent_reviews,&.widget_top_rated_products{
			.product_list_widget{
				li{
					.star-rating{
						span{
							&:before{
								color: $primary-color;
							}
						}
					}
				}
			}
		}

		&.widget_tag_cloud,&.widget_product_tag_cloud{
			.tagcloud{
				a{
					background: none repeat scroll 0 0 $primary-color;
				}
			}
		}

		&.widget_mc4wp_widget{
			.mc4wp-form{
				input[type="submit"]{
					background: none repeat scroll 0 0 $primary-color;
				}
			}
		}
	}
}

/**
 * layout/layout.scss
 */

.footer-widgets{
	h5{
		color: $primary-color;
	}
}

/**
 * inc/bethlehem-extensions/ministries.scss
 */

.ministries-archive{
	.ministries-head{
		ul{
			>li{
				&.active{
	    			a{
	    				&:before{
	    					color: $primary-color;
	    				}
	    			}
	    		}
			}
		}
	}
}

/**
 * inc/bethlehem-extensions/sermons.scss
 */

.sermons-carousel-wrap{
	.sermons-carousel-item{
		.sermons-carousel-info{
			.hb-more{
				&:hover{
			        color: $primary-color;
			    }
			}
		}
	}
}

.sermons-carousel-wrap{
	ul.post-icons{
		li{
			a{
				.icon-info{
					&:hover{
						background-color: $primary-color !important;
						border-color: $primary-color !important;
					}
				}
			}
		}
	}
}

/**
 * inc/bethlehem-extensions/team-members.scss
 */

.team-large,.team-small{
	.member{
		.member-info{
			.hb-more{
				&:hover{
 					color: $primary-color;
 				}
			}
		}
	}
}

/**
 * inc/bethlehem-extensions/vc-elements.scss
 */

.vc-tribe-events-list-widget, .page {
	.tribe-events-link{
		a{
			&:hover{
		        color: $primary-color;
		    }
		}
	}
}

.quote-wrap{
	#quote-info-slider {
		.owl-controls{
			.owl-nav{
				.owl-prev,.owl-next{
					&:hover{
						i{
							color: $primary-color !important;
						}
					}
				}
			}
		}

		.quote-item{
			h4{
				color: $primary-color;
			}
		}
	}

	#quote-img-slider{
		.owl-stage{
			.owl-item{
				&.synced{
					.quote-item{
						&:before {
							border-color: $primary-color transparent;
						}

						img{
							outline: 7px solid $primary-color;
						}
					}
				}
			}
		}
	}
}

.vc-primary-large-btn,.vc-primary-small-btn,.vc-primary-medium-btn{
	a,
	button{
		background-color: $primary-color !important;
	}
}

.vc-primary-large-btn-inverse,.vc-primary-small-btn-inverse,.vc-primary-medium-btn-inverse {
	a,
	button{
		&:hover,
		&:focus{
		    background-color: $primary-color !important;
		}
	}
}

.vc_widget_recent_posts{
	.archive-link{
		&:hover{
			background-color: $primary-color !important;
			&:after{
		    	border-left: 26px solid $primary-color;
		    }
		}
	}

	.hb-more{
		&:hover{
	        color: $primary-color;
	    }
	}
}

.vc_widget_recent_posts{
	&.type-2{
		.beth-recent-posts{
			>li{
				h1.entry-title{
					a{
						color: $primary-color;
					}
				}
			}
		}
	}
}


.vc-events-list-location{
	.event-locations{
		.location-content{
			.event-btns{
				a{
					&:hover{
						background-color: $primary-color;
					}
				}
			}
		}
	}
}

/**
 * inc/give/vc-elements.scss
 */

.give-btn{
	background-color: $primary-color !important;
}

.donation-carousel-wrap{
	.owl-controls{
		.owl-nav{
			.owl-prev,.owl-next{
				&:hover{
					color: $primary-color !important;
				}
			}
		}
	}
}

.goal-progress{
	.income{
		color: $primary-color;
	}
}

.progress-bar {
	> span{
		background-color: $primary-color;
	}
}

/**
* inc/tribe-events/events.scss
*/

#tribe-events{
 	.tribe-events-list{
 		.tribe-events-list-separator-month{
 			span{
 				background-color: $primary-color;
 			}
 		}
 	}
}

.vc-events-calendar{
	.events-lists{
		h2{
			color: $primary-color;
		}
	}

	.events-calendar{
		table#wp-calendar{
			caption{
				color: $primary-color;
			}
		}
	}
}

/**
 * inc/woocommerce/woocommerce.scss
 */

/**
 * owl-Products
 */
.product-item{
	.product-info{
		.actions{
			.button{
				&.add_to_cart_button, &.view_product_button {
					background: $primary-color ;
					&:after{
						border-left: 10px solid $primary-color;
					}
				}
			}
		}
	}
}

/**
 * Products
 */
ul.products{
	li.product{
		h3{
			a{
		    	&:hover{
					color: $primary-color;
				}
		    }
		}

		.button{
			&.add_to_cart_button, &.view_product_button {
				background: $primary-color ;
				&:after{
					border-left: 10px solid $primary-color;
				}
			}
		}
	}
}

#list-view{
	ul.products{
		li.product{
			.button{
                &.add_to_cart_button, &.view_product_button{
                	&:after{
                		border-left: 11px solid $primary-color;
                	}

                	&:before{
				    	background: none repeat scroll 0 0 $primary-color;
				    }
                }
            }
		}
	}
}

.added_to_cart.wc-forward{
	&:hover{
		color: $primary-color;
	}
}

.wc-proceed-to-checkout,.widget_shopping_cart_content{
	.checkout-button,.checkout{
		background-color: $primary-color;
	}
}

.widget_price_filter{
	.price_slider_amount{
		.button{
			&:hover{
				background-color: $primary-color;
			}
		}
	}

	.ui-slider .ui-slider-range{
		background: $primary-color;
	}
}

.myaccount_user{
	a{
		color: $primary-color;
	}
}

.col2-set{
	&.addresses{
		.col-1.address,.col-2.address{
			.title{
				background-color: $primary-color;
				border-color: $primary-color !important;
			}
		}
	}
}

a.remove {
	&:hover{
		color: $primary-color;
	}
}

.star-rating{
	span:before{
		color: $primary-color;
	}
}

.bethlehem-sorting{
	ul{
		> li{
			&.active{
    			a{
    				&:before{
    					color: $primary-color;
    				}
    			}
    		}
		}
	}
}

.woocommerce-checkout{
	.panel-title{
		a{
			border: 1px solid $primary-color;
			&:before{
				background-color: $primary-color;
			}
		}
	}
}

.donate-btn{
	background-color: $primary-color;

	&:hover,
	&:focus{
		background-color: $primary-color-dark;
	}
}

.our-store {
	&.type-2 {
		.product-item {
			.actions {
				.price{
                   color: $primary-color;
				}
				.button{
					&.add_to_cart_button, &.view_product_button{
						&:hover,
						&:focus{
                           background-color: $primary-color;
                           border: 2px solid $primary-color;
						}
					}
				}
			}
		}
	}
}

.stories-archive {
	.stories-featured {
		.stories-content {
			.entry-content {
				p{
                   a{
                   	  color: $primary-color;
                   }
				}
			}
		}
	}
}

.bethlehem-style-2 {
	.comment-form {
		input[type="submit"] {
			&:hover,
            &:focus{
            	background: $primary-color !important;
            	border: 2px solid $primary-color;
            	color: #fff;
            }
		}
	}
}

.bethlehem-style-2 {
	.wc-proceed-to-checkout,.widget_shopping_cart_content {
		input[type="submit"],.view-cart,.checkout-button,.checkout{
			&:hover,
            &:focus{
            	background: $primary-color !important;
            	border: 1px solid $primary-color;
            	color: #fff !important;
            }
		}
	}

	.widget_price_filter {

		.price_slider_amount {
			.button {
				&:hover,
	            &:focus{
	            	background: $primary-color !important;
	            	border: 1px solid $primary-color;
	            	color: #fff !important;
	            }
			}
	    }
	}

	.cart-collaterals{
		.coupon{
			input[type="submit"]{
				&:hover,
	            &:focus{
	            	background: $primary-color !important;
	            	border: 1px solid $primary-color;
	            	color: #fff !important;
	            }
			}
		}
	}

	input.button,
	.button.wc-backward{
		&:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color;
        	color: #fff !important;
        }
	}

	.wpcf7{
		form{

			p{
				>input{
					&:hover,
			        &:focus{
			        	background: $primary-color !important;
			        	border: 2px solid $primary-color;
			        	color: #fff !important;
			        }
				}
			}
		}
	}

	.give-btn{
	    &:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color !important;
        	color: #fff !important;
        }
	}

	input[type="submit"] {
        &:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color !important;
        	color: #fff !important;
        }
    }

    .vc-events-list-location{
		.event-locations{
			.location-content{
				.event-btns{
					a{
						&:hover{
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}

	.vc-primary-large-btn,.vc-primary-small-btn,.vc-primary-medium-btn{
        a,
        button{
            &:hover,
	        &:focus{
	        	background: $primary-color !important;
	        	border: 2px solid $primary-color !important;
	        	color: #fff !important;
	        }
        }
    }
}

.team-member-carousel-wrap {
	.owl-controls {
		.owl-nav {
			.owl-prev,
		    .owl-next{
                &:hover,
                &:focus{
                	color: $primary-color;
                	border: 3px solid $primary-color;
                }
		    }
		}
	}
}

body.bethlehem-style-3 {
	#respond {
		.comment-form {
			.form-submit {
				input[type="submit"]{
					&:hover{
	                   background: $primary-color;
	                   border: 2px solid $primary-color;
					}
				}
			}
		}
	}

	.wc-proceed-to-checkout,.widget_shopping_cart_content {
		input[type="submit"],.view-cart,.checkout-button,.checkout{
			&:hover,
            &:focus{
            	background: $primary-color !important;
            	border: 1px solid $primary-color;
            	color: #fff !important;
            }
		}
	}

	.widget_price_filter {

		.price_slider_amount {
			.button {
				&:hover,
	            &:focus{
	            	background: $primary-color !important;
	            	border: 1px solid $primary-color;
	            	color: #fff !important;
	            }
			}
	    }
	}

	.cart-collaterals{
		.coupon{
			input[type="submit"]{
				&:hover,
	            &:focus{
	            	background: $primary-color !important;
	            	border: 1px solid $primary-color;
	            	color: #fff !important;
	            }
			}
		}
	}

	input.button,
	.button.wc-backward{
		&:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color;
        	color: #fff !important;
        }
	}

	.wpcf7{
		form{

			p{
				>input{
					&:hover,
			        &:focus{
			        	background: $primary-color !important;
			        	border: 2px solid $primary-color;
			        	color: #fff !important;
			        }
				}
			}
		}
	}

	.give-btn{
	    &:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color !important;
        	color: #fff !important;
        }
	}

	input[type="submit"] {
        &:hover,
        &:focus{
        	background: $primary-color !important;
        	border: 2px solid $primary-color;
        	color: #fff !important;
        }
    }

    .vc-events-list-location{
		.event-locations{
			.location-content{
				.event-btns{
					a{
						&:hover{
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}
}
